.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .currentTime {
  font-size: 1.2rem;
  margin: 10px 0;
  background-color: #333;  /* Dark background */
  color: #fff;  /* Light text color */
  padding: 10px;
  border-radius: 5px;  /* Optional: to give it rounded corners */
}

.forecastTime {
    font-size: 1.2rem;
    margin: 10px 0;
    background-color: #333;  /* Dark background */
    color: #fff;  /* Light text color */
    padding: 10px;
    border-radius: 5px;  /* Optional: to give it rounded corners */
  }
  

  
  .forecastList {
    list-style-type: none;
    padding: 0;
    max-height: 500px;  /* Adjust this value based on how much content you want visible */
    overflow-y: scroll;  /* Make it scrollable */
    border-top: 1px solid #ccc;
    margin-top: 20px;
  }
  
  .forecastItem {
    padding: 8px;
    border-bottom: 1px solid #eee;
  }
  
  .forecastItem strong {
    font-weight: bold;
  }
  
  .loading, .error {
    font-size: 1.5rem;
    color: red;
  }
  
  