/* Theresa & Damian */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins', Arial, Helvetica, sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF; /* Use White */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Black shadow */
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  color: #F8F8F8; /* Slightly softer white */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.page-container {
  flex: 1;
}

.footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 0;
  color: black;
}