.navbar {
  background: transparent !important; /* Transparent background */
  box-shadow: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  padding: 20px 20px; /* Adjust padding as needed */
  text-align: center;
}

.navbarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 10px; /* Adjust top position */
  left: 0;
  z-index: 1000;
  padding: 20px 20px;
  background: transparent !important; /* Ensure the background is transparent */
}

.navLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.navitem {
  color: black !important;
  font-weight: bold;
  text-decoration: none;
  margin: 0 10px;
  line-height: 1.8;
}

.navButton {
  color: black !important;
  font-weight: bold;
  text-decoration: none;
  margin: 0 10px;
}
